accelerate >= 0.12.0
torch >= 1.3
datasets >= 1.8.0
sentencepiece != 0.1.92
git+https://github.com/huggingface/transformers # download transformers-4.33.0.dev0
protobuf
evaluate
scikit-learn
h5py
weightwatcher==0.7.3.1
wandb